<BsNavbar ...attributes as |navbar|>
  <div class="container">
    <div class="navbar-header">
      {{navbar.toggle}}
      {{link-to
        (t "app.title")
        "index"
        class="navbar-brand"
        data-test-header-link="home"
      }}
    </div>

    <navbar.content>
      <navbar.nav as |nav|>
        <nav.item>
          {{nav.link-to
            (t "route.rankings")
            "rankings"
            data-test-header-link="rankings"
          }}
        </nav.item>
      </navbar.nav>
    </navbar.content>
  </div>
</BsNavbar>
