.rankings-filters {
  @extend .form-inline;
  @extend .mb-4;
  @extend .d-lg-flex;

  @include media-breakpoint-down(md) {
    margin-bottom: $spacer * .5 !important;
  }

  .filter {
    @extend .mr-md-2;

    @include media-breakpoint-down(xs) {
      margin-bottom: $spacer * .5;
    }
  }

  .category {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  .gender-and-weapon-container {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }

    @include media-breakpoint-up(sm) {
      margin-left: auto;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 0;
    }
  }

  .gender,
  .weapon {
    @extend .w-100;
  }

  .gender {
    @extend .mr-2;
  }

  .weapon {
    margin-right: 0 !important;
  }

  .season-container {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;

    @include media-breakpoint-down(md) {
      border-top: 1px solid $gray-300;
      margin-top: $spacer * .5;
      width: 100%;
      padding-top: $spacer * .5;

      .btn {
        width: auto;
      }
    }

    @include media-breakpoint-down(xs) {
      margin-top: 0;
    }

    @include media-breakpoint-up(sm) {
      margin-left: auto;
    }

    // .seasons {
    //   @extend .ml-sm-2;
    // }
  }

  .btn {
    @include btn-sm;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}
