<form class="rankings-filters" ...attributes>
  <RankingsCategoryFilter @category={{@category}} class="category filter" />
  <div class="d-flex gender-and-weapon-container">
    <RankingsGenderFilter @gender={{@gender}} class="gender filter" />
    <RankingsWeaponFilter @weapon={{@weapon}} class="weapon filter" />
  </div>

  <div class="season-container">
    <RankingsSeasonFilter @season={{@season}} class="season d-flex" />
  </div>
</form>
