.rankings-table {

  @extend .table;
  @extend .table-responsive-sm;
  @extend .table-sm;
  @extend .table-striped;

  td {
    @extend .text-nowrap;

    font-size: $font-size-sm;

    @include media-breakpoint-up(lg) {
      font-size: $font-size-base;
    }
  }

  .rank {
    @extend .pl-2;
  }

  .name {
    @extend .font-weight-bold;
    @extend .pr-2;

    a {
      position: relative;
      display: inline-block;

      &:hover {
        @extend .text-primary;

        > .external-link-icon {
          display: inline-block;
        }
      }
    }

    .external-link-icon {
      @extend .ml-2;

      display: none;
      position: absolute;
      right: -$spacer;
      top: 15%;
      font-size: 0.8rem;
    }
  }

  .birthdate {
    @extend .d-none;
    @extend .d-sm-table-cell;
  }

  .category {
    @extend .d-none;
    @extend .d-md-table-cell;
  }

  .points {
    @extend .pr-3;
    @extend .text-right;
    @extend .font-weight-bold;
  }
}
