.rankings-table {

  @extend .table;
  @extend .table-sm;
  @extend .table-striped;

  td {
    @extend .text-nowrap;

    font-size: $font-size-sm;

    @include media-breakpoint-up(lg) {
      font-size: $font-size-base;
    }
  }

  .rank {
    @extend .pl-2;

    width: 0;
  }

  td.name {
    @extend .pr-2;

    a.name {
      @extend .font-weight-bold;
      @extend .text-dark;

      position: relative;
      display: inline-block;

      @include media-breakpoint-down(xs) {
        white-space: normal;
      }

      &:hover {
        @extend .text-primary;

        > .external-link-icon {
          display: inline-block;
        }
      }
    }

    .external-link-icon {
      @extend .ml-2;

      display: none;
      position: absolute;
      right: -$spacer;
      top: 15%;
      font-size: 0.8rem;
    }
  }

  .club {
    @extend .d-none;
    @extend .d-sm-table-cell;
  }

  .club-xs {
    @extend .text-muted;
    @extend .mr-auto;

    white-space: normal;
  }

  .birthdate-xs {
    @extend .text-muted;

    margin-bottom: 0.1rem;
  }

  .birthdate {
    @extend .d-none;
    @extend .d-sm-table-cell;
  }

  .category {
    @extend .d-none;
    @extend .d-md-table-cell;
  }

  .points {
    @extend .pr-3;
    @extend .text-right;
    @extend .font-weight-bold;
  }
}
