<article class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <h1 class="my-4">{{@news.title}}</h1>
      <p class="lead mb-4">{{@news.desc}}</p>
      <section class="article">{{@news.content}}</section>
    </div>
  </div>
</article>
